# APP
EXPO_PUBLIC_ENV=""                              # dev | uat | prod
 
# HOSTS
EXPO_PUBLIC_HOST_API=""                         # Backend API host URL
EXPO_PUBLIC_PSGC_API=""                         # PSGC API host URL. Visit docs for more info: https://psgc.gitlab.io/