# SYSTEM
SYSTEM_TYPE="app"                               # Default value is set to `app` for the mBALING mobile application. Do not change this value.
 
# HOSTS
EXPO_PUBLIC_HOST_API=""                         # Backend API host URL
EXPO_PUBLIC_PSGC_API=""                         # PSGC API host URL. Visit docs for more info: https://psgc.gitlab.io/